.header-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header__wrapper-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.header__wrapper-item strong {
    color: var(--basic);
    font-weight: 800;
}

.header__wrapper-item h1 {
    font-weight: 800;
    font-size: 25px;
}

.header__wrapper-link-1 a{
    color: #fff;
    font-weight: 600;
}

.header__wrapper-link a{
    color: #fff;
    font-weight: 600;
    opacity: 0.4;
}

.header__wrapper-link-1 .link-1::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--basic);
    height: 2px;
    width: 17%;
}

.header__film {
    margin-top: 15px;
    position: relative;
}

.header__film-buttom__watch {
    position: absolute;
    left: 10%;
    bottom: 5%;
}

.header__film-buttom__menu {
    position: absolute;
    right: 10%;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.buttom-link__1 {               /*Кнопка*/
    background-color: var(--basic);
    height: 50px;
    width: 150px;
    border: 0;
    border-radius: 15px;
    font-family: Arial;
    color: var(--fff);
    font-weight: 600;
    cursor: pointer;
    margin-right: 10%;
}

.buttom-link {
    background-color: #404040;
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}
