.main {
    padding-bottom: 80px;
}

.main__container {
    margin-top: 25px;
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--fff);
    font-family: Arial;
}

.wrapper__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper__text-quantity a{
    font-family: Arial;
    color: var(--basic);
    font-weight: 600;
}

.wrapper__icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    overflow: hidden;
    overflow-x: scroll;
}

.wrapper__icons::-webkit-scrollbar {
    width: 0;
    display: none;
}

.icon-list {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    position: relative;
}

.icon-list img{
    border-radius: 15px;
}

.icon-timer {
    position: absolute;
    bottom: 22%;
    right: 5%;
    opacity: 40%;
    font-weight: 600;
}

.icon-name {
    line-height: normal;
}

.film-icon {
    margin-left: 10px;
}

.film-img {
    margin-bottom: 10px;
}

.film-grade {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    left: 0;
    transform: translateX(-25%);
    width: 40px;
    height: 25px;
    border-radius: 2px;
    font-weight: 600;
}

.unique-grade__1 {
    background-color: var(--A);
}

.unique-grade__2 {
    background-color: var(--A);
}

.unique-grade__3 {
    background-color: var(--E);
}

.icon-background {
    width: 50px;
    height: 50px;
    background-color: #404040;
    border-radius: 50%;
}

.icon-next {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper__background {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 400px;
    background-color: #252525;
    border-radius: 10px;
}

.file-img {
    width: 30%;
}

.file-text {
    font-weight: 600;
    font-family: arial;
}

.file__button {
    margin-top: 10px;
    font-family: arial;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: #353535;
    border-radius: 20px;
    border: 0;
    width: 250px;
    height: 40px;
    cursor: pointer;
}

.folders-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 180px;
    background-color: #252525;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}